@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans" ,sans-serif;
}
.BGPIC{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(store.jpg);
    background-size: cover;
}
.BAR {
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.LOGOPIC {
    width: 120px;
    cursor: pointer;
    border-radius: 20%;
    opacity: .9;
}

.BAR ul li {
    list-style: none;
    display: inline-block;
    margin:  20px;
    position: relative;

}

.BAR ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.BAR ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 1s;
}
.BAR ul li:hover::after{
    width: 100%;
}
.Services{
    position: relative;
    min-height: 70.1vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),  url(../images/afasfasfasf2232.jpg);
    background-size: cover;
}
.Services .content{
    max-width: 800px;
    text-align: center;
}
.Services .content h2{
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    
}
.Services .content p{
    font-weight: 500;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #ffffff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00f2ff;
}
.contactForm{
    width: 30%;
    padding: 30px;
    background: white;
}
.contactForm h2{
    font-size: 40px;
    color: black;
    font-weight: 600;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid #000000;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: red;
    font-size: 15px;
    transform: translate(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00f2ff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}